@media screen and (min-width:900px)
{
    header
    {
        background-image: 
        url("../images/bg-header-desktop.svg");
    }
    .card
    {
        flex-direction: row;
        justify-content: space-between;
        padding-top:1rem;
        align-items: center;
        width:min(95%,1200px);
    }
    .reminder
    {
        width:min(95%,1200px);
    }
    .card__fig
    {
        width: 30%;
        position: static;
        transform :  translateY(0);
    }
    .card__top
    {

        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        width:50%;
    }
    .card__bottom
    {
        width: 40%;
    }
}